* {
    margin: 0;
    list-style-type: none;
    box-sizing: border-box;
}

html {
    width: 100%;
}

body {
    background-color: white;
}

/*HIER BEGINT DE HEADER*/ 

header { 
    height: 15vw;
    width: 100%;
    background-color: #FEA49A;
}

header img {
    width: 20%;
    position: absolute;
    left: 50%;
    top: 4%;
    transform: translate(-50%, -50%);
}

/*HIER BEGINT DE MAIN*/ 

h1 {
    font-family: 'Alatsi', sans-serif;
    text-align: center;
    font-size: 1.5em;
    margin: 8% 0 0 0;
}

.choice {
    width: 100%;
}

main img {
    width: 100%;
    padding: 0;
}


/*/ FORMFIELD /*/


.food-choices {
    display: inline;
    border: none;
    margin: 10% 0 10% 0;
}



[type=radio] {
    position: absolute;
    opacity: 0;
    width: 0;
    height: 0;
}

[type=radio] + img { 
    cursor: pointer;
}

[type=radio]:checked + img {
    border: 3px solid #FFBAAC;
}


button {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 1em;
    letter-spacing: 0.1em;

    height: 10vw;
    width: 30vw;
    background-color: #FFBAAC;
    border: none;
    border-radius: 5px;
    
    position: absolute;
    left: 50%;
    top: 90%;
    transform: translate(-50%);

}

/*/FOOTER/*/


ul {
    width: 70vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 5%;
    margin-left: 4%;
}

@media only screen and (min-width: 720px) {
    header {
        height: 3vw;
    }

    header img {
        width: 8%;
        left: 7%;
        top: 3%;
    }
    /* MAIN */
    h1 {
        font-size: 2em;
        margin: 3% 0 0 0;
    }
    section {
        height: 50%;
       
    }

    .form { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }

    main img {
        width: 80%;
    }

    button {
        height: 4vw;
        width: 10vw;
        top: 75%;
    }

    button:hover {
        background-color: #FEA49A;
        cursor: pointer;
    }

    footer {
        display: none;
    }
}