<!DOCTYPE html>
<%- include("head.ejs") %>
    <body>
        <%- include("header.ejs") %>
            <main>
                <h1>These are your answers</h1>
             
                

        <%- include("footer.ejs") %>
    </body>
    <script src="script.js"></script>
</html>