<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

      <%- include("header.ejs") %>
<main>
  <section class="choice">
   <h1>What do you like the most?</h1>
   <p>To get an idea about what you like you can choose one of
     the delicious foods displayed below.
   </p>
<form action=/ method="post">

  <label>
  <input class="choice1" type="radio" name="optie>" value="keuze1">
  <img src= <%= images.img1 %>>
</label>

<label>
  <input type="radio" name="optie>" value="keuze2">
  <img src= <%= images.img2 %>>
</label>

<button> Choose this</button>


</form>
</section>

</main>

    </body>

</html>