<!DOCTYPE html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="style.css">
    </head>
    <body>

      <%- include("header.ejs") %>
<main>
  <section class="choice">
   <h1>What do you like the most?</h1>
   <p>To get an idea about what you like you can choose one of
     the delicious foods displayed below.
   </p>
<form action=/ method="post">
  <input type="image" src= <%= images.img1 %> >
  <input type="image" src= <%= images.img2 %> >
</form>
</section>

</main>

    </body>

</html>