<!DOCTYPE html>

  
<%- include("head.ejs") %>
    <body>

      <%- include("header.ejs") %>

<main>
  <section class="choice">
   <h1>What do you like the most?</h1>
   <p>To get an idea about what you like you can choose one of
     the delicious foods displayed below.
   </p>
<form action=/sendChoice method="POST">

  <label>
    <input class="choice1" type="radio" name="food" value="1">
    <img src= <%= data.img1 %>>
  </label>
  
  <label>
    <input type="radio" name="food" value="2">
    <img src= <%= data.img2 %>>
  </label>

<button type="submit"> Choose this</button>


</form>
</section>

</main>


<script src="index.js"></script>
    </body>

</html>