<footer>
    <nav>
        <ul>
            <li><a><img src="images/icons/like.svg"></a></li>
             <li><a><img src="images/icons/like.svg"></a></li>
             <li><a><img src="images/icons/like.svg"></a></li>
            </ul>
    </nav>
</footer>