
      <header>  
          <nav><ul>
            <li><a href="#"><img src="images/icons/like.svg"></a></li>
            <li><a href="#"><img src="images/icons/comment.svg"></a></li>
            <li><a href="#"><img src="images/icons/account.svg"></a></li>
          </ul></nav>
      </header>
